a.highlight-link {
    color: var(--color-palette-orange);
    &:hover {
        filter: saturate(120%);
    }
}

.hide,
.offscreen {
    display: none;
}

section#login,
section#register {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-display {
    width: clamp(370px, 80vw, 460px);
    aspect-ratio: 4/5;
    padding: 64px;
    margin: auto;
    background-color: #E6E6E6;
}

.register-display {
    width: clamp(370px, 80vw, 460px);
    aspect-ratio: 4/5;
    padding: 64px;
    margin: auto;
    background-color: #E6E6E6;
}