a.highlight-link {
    color: var(--color-palette-orange);
    &:hover {
        filter: saturate(120%);
    }
}

.hide {
    display: none;
}

.offscreen {
    display: none;
}

.login-display {
    width: 460px;
    aspect-ratio: 4/5;
    padding: 64px;
    margin: auto;
    background-color: #E6E6E6;
}

.register-display {
    width: 460px;
    aspect-ratio: 4/5;
    padding: 64px;
    margin: auto;
    background-color: #E6E6E6;
}