input[type="checkbox"],
input[type="radio"] {
    /* Keep default browser style values for checkbox and radio inputs */
    all: revert;
}

#products {
    flex-grow: 100;
    padding: 0 0 1rem 2rem;
    background-color: var(--color-palette-light-grey);
}

.new-product-button {
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
    background-color: var(--color-palette-orange);
    cursor: pointer;
    font: var(--font-type-body-highlight);
    color: var(--color-palette-white);
}

#update-product-form button.delete-button {
    color: #f00;
}

.products-display {
    width: 100%;
    height: auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, clamp(300px, 30vw ,560px));
}

.product-container {
    width: 100%;
    aspect-ratio: 4/3;
    display: flex;
    background-color: var(--color-palette-white);
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.product-container > * {
    flex: 1;
}

.product-container > .product-overview {
    display: inline;
    text-align: center;
}

.product-container > .product-overview > img {
    border: var(--color-palette-black) solid 8px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, .2);
}

.product-container > .product-info {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
}