header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

header > [class*="header-"] {
    flex: 1;
    height: 100%;
    border: red 1px solid;
}

header > [class*="-left"] {
    justify-content: flex-start;
}

header > [class*="-center"] {
    justify-content: center;
}

header > [class*="-right"] {
    justify-content: flex-end;
}

header > * {
    display: flex;
    align-items: center;
}

header .logo {
    height: 100%;
}

header .logo img {
    object-fit: cover;
}

header nav {
    gap: 1rem;
}