#dashboard-layout {
    display: flex;
}

.side-nav-container {
    min-width: 25%;
    height: 100vh;
    margin-right: 2rem;
}

.side-nav {
    width: 25vw;
    height: 100vh;
    background-color: #242424;
    padding-top: clamp(2.50rem, calc(1.80rem + 3.48vw), 4.50rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    position: fixed;
}

.side-nav > a {
    background-color: var(--color-palette-light-grey);
    color: var(--color-palette-black);
    width: clamp(200px, 20vw, 280px);
    aspect-ratio: 4/1;
    border-radius: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.side-nav > a.active {
    background-color: var(--color-palette-orange);
    color: var(--color-palette-white);
}

@media (max-width: 820px) {
    .side-nav-container {
        min-width: 45%;
    }

    .side-nav {
        width: 45vw;
    }
}