/* Hamburger icon animation */

.ham {
    position: relative;
    z-index: 9999;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
}

.ham .top {
    stroke-dasharray: 40 172;
}

.ham .middle {
    stroke-dasharray: 40 111;
}

.ham .bottom {
    stroke-dasharray: 40 172;
}

.ham.active .top {
    stroke-dashoffset: -132px;
}

.ham.active .middle {
    stroke-dashoffset: -71px;
}

.ham.active .bottom {
    stroke-dashoffset: -132px;
}

/* Hamburger menu display */

.hamburger-menu-display {
    position: fixed;
    z-index: 9998;
    inset: 0;
    display: flex;
    flex-direction: column;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
}

.hamburger-menu-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}