body {
  font: var(--font-type-body);
}

main {
  min-height: 600px;
  /* min-height: clamp(675px, 20vw ,1024px); */
}

h1,
.font-header {
  font: var(--font-type-header);
}

h2,
.font-title-1 {
  font: var(--font-type-title-1);
}

h3,
.font-title-2 {
  font: var(--font-type-title-2);
}

strong,
.body-highlight {
  font: var(--font-type-body-highlight);
}

div.container {
  max-width: 2000px;
  margin: auto;
}

button {
  /* Keep default browser style values for buttons */
  all: revert;
}

input[type="submit"] {
  cursor: pointer;
}

input {
  background-color: var(--color-palette-white);
  border: 1px solid #E6E6E6;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 2rem;
}

.call-to-action {
  background-color: var(--color-palette-orange);
  color: var(--color-palette-white);
  font: var(--font-type-body-highlight);
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(196px ,19vw ,240px);
  aspect-ratio: 20/7;
  border-radius: 64rem;
  transition: filter .4s ease-out;
  &:hover {
    filter: brightness(120%);
  }
}